html {
  background-color: #e9e9e9;
}
#form1{
    width: 40em;
    padding-left: 4em;
    background-color: #99ccff;

}
.main-header{
  background-color: #3467eb;
  margin-bottom: 1em;
  margin-top: 0.5em;
  left:20px;
}
.text-header{
  background-color: #a83232;
  position: relative;
  left: 20px;
}
.style{
  background-color: #ffcccc;
}
#first {
  display: inline-block;
  width: 10em;
  padding-left: 4em;
  background-color: #2596be;
}
#planNumber {
  display: block;
  width: 4em;
  padding-left: 4em;
  margin-border: 4em;
}
#totalTime {
  text-align: center;
  display: block;
  width: 7em;
  padding-left: 4em;
}
#spinner {
  display: block;
  width: 20em;
  padding-left: 4em;
}
label {
  display: block;
  width: 10em;
}
input {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[name=save] {
  display: block;
  margin-top: 10px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
form {
  width: 20em;
  padding: 10px 0px;
  margin-top: 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid red;
  background-color: #ffffff;
  color: darkgray;
}